html 
if productos.length > 0
  body
    h1 Lista de productos
    table.table.table-striped
      tr.toplaner
        th Producto
        th Precio
        th Thumbnail 
      
      each producto in productos
        tr
          td= producto.title
          td= producto.precio
          td 
            figure
              img(style='width: 100px' src=producto.thumbnail)
else 
  p NO HAY PRODUCTOS CARGADOS         