{{#if productos.length }}

<table class="table table-striped">
    <thead>
        <tr>
            <td>Producto</td>
            <td>Precio</td>
            <td>Thumbnail</td>
        </tr>
    </thead>
    <tbody>
        <div>
            {{#each productos}}
            <tr>

                <td>{{this.title}}</td>
                <td>{{this.precio}}</td>
                <td><img style="width: 100px" src="{{this.thumbnail}}"></img>
                </td>
            </tr>
            {{/each}}
        </div>
    </tbody>
</table>

{{else}}
<p>No hay productos</p>
{{/if}}



